@import url("../settings.css");
.devices {
    align-items: center;
    box-sizing: border-box;
    color: var(--color-principal);
    /* height: 100vh; */
    justify-content: space-around;
    margin: 0 6em 6em 6em;
    text-align: center;
}

.devices__cards {
    display: flex;
}

.device__content {
    display: flex;
    flex-direction: column;
    margin: 0 1em;
    width: 32%;
}

.devices__title {
    font-size: 3em;
    margin-bottom: 1.5em;
}

.device__name {
    font-size: 2em;
    text-align: center;
}