@import url("../settings.css");
.secundary {
    align-items: center;
}

.secundary__content {}

.secundary__image {}

.secundary__title {
    font-size: 48px;
    font-weight: 700;
}

.secundary__description {}