@import url("../settings.css");
.secundary {
    align-items: center;
    box-sizing: border-box;
    margin: 0 6em;
}

.secundary__content {}

.secundary__image {
    margin-left: 3em;
    text-align: center;
    width: 80%;
}

.secundary__title {
    font-size: 35px;
    font-weight: 700;
}

.secundary__description {
    color: var(--color-descriptions);
    margin-bottom: 2em;
}

.secundary__button {
    border-radius: 4px;
    padding: 1em;
}