@import url("../settings.css");
.principal {
    align-items: center;
    background-image: url("../../img/background.png");
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
}

.principal__content {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    margin-left: 3.375em;
}

.principal__title {
    font-size: 28px;
    margin-bottom: 1em;
}

.principal__image {
    align-self: center;
    height: 6.25em;
    margin-bottom: 2em;
    width: 21.5625em;
}

.principal__button {
    border-radius: 5px;
    margin-bottom: 0.5em;
    padding: 1em 0;
}

.principal__description {
    color: var(--color-descriptions);
    font-size: 0.75em;
}