.pessoas {
    display: flex;
    justify-content: space-around;
    padding-top: 3rem;
}


/* CELULAR */

@media screen and (min-width:0) {
    .pessoas {
        flex-direction: column;
    }
}


/* TABLET */

@media screen and (min-width:768px) {
    .pessoas {
        flex-direction: row;
    }
}