.home_container {
    margin-top: 10rem !important;
}
.link_areas {
    color: #212529;
}
.link_areas:hover {
    text-decoration: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: #212529;
    padding: 0;
}
