:root {
    --background-site: #00030C;
    --color-secundary-button: #167BF7;
    --color-descriptions: #C0C0C0;
    --color--principal: #ffffff;
    --font-principal: 'Inter';
    --transparent-button: 'transparent'
}